@{
    ViewBag.Title = "Reset Password";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="~/Content/theme/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/theme/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/theme/css/animate.css" rel="stylesheet" />
    <link href="~/Content/theme/css/style.css" rel="stylesheet" />
    <link href="~/Content/theme/css/toastr.css" rel="stylesheet" />
</head>
<body>
    <div style="background-image: url(/Content/img/login-image.jpeg);" class="loginSection"></div>
    <div class="loginSectionForm" style="background-image: url(/Content/img/backdrop-smart-menu.png);">
        <div class="animated fadeInDown loginModelSec text-center">
            <img src="/Content/img/smart-menu-pad-logo.png" alt="image" />
            <h3>Reset Password</h3>
            <form class="m-t" id="frmResetPassword" role="form">
                @Html.AntiForgeryToken()
                <input type="hidden" name="hdnUserId" id="hdnUserId" value="@ViewBag.UserId" />
                <input type="hidden" name="hdnCode" id="hdnCode" value="@ViewBag.Code" />
                <div class="form-group">
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" />
                </div>
                <button type="button" onclick="btnResetPassword()" class="btn btn-primary block full-width m-b">Submit</button>
                <a href="@Url.Action("Login","Account")" class="btn">Login</a>
            </form>
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="~/Content/theme/js/jquery-2.1.1.js"></script>
    <script src="~/Content/theme/js/jquery.validate.min.js"></script>
    <script src="~/Content/theme/js/bootstrap.min.js"></script>
    <script src="~/Content/theme/js/toastr.js"></script>
    <script src="~/Content/project/login.js"></script>
</body>
</html>